@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body {
  background-color: #1c2833;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Vollkorn', serif;
}
