@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #1c2833;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 75%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator {
  padding: 2px;
  flex: 2;
  margin-left: 20px;
}

button {
  width: 25%;
  height: 70px;
  font-size: 130%;
  background-color: #e0e0e0;
  border: 1px solid grey;
}

.g-4 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.g-4 button {
  width: 100%;
}

.orange { background-color: #f5913e; }

.result {
  background-color: #858694;
  height: 60px;
  padding: 0 10px;
  text-align: right;
  font-size: 200%;
}

.link {
  transition: all 0.2s ease-in;
}

.link:hover {
  border-bottom: 2px solid white;
}
